<!DOCTYPE html>

<html>

<head>
    
    <title>Control the goPigo</title>
    <h>HelloWorld </h>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    
    
    <!--
    <script src = "jquery-3.4.1.min.js"></script>
    -->
    
</head>

<body>
<div id="camera"><img src="{{ url_for('video_feed') }}"></div>

<script>
function listener(code){
    var test = $.ajax({
        type: "POST",
        url: "/webListener",
        async: false,
        data:{mydata: code}
        });
    return test;
    }
$(window).on('keypress', function(e) {
    var key = e.key;
    console.log("Key pressed was: " + e.key);
    result = listener(key);
    console.log(result)
    });
</script>


</body>

</html>